@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-brand: #EF554A;
  --c-white: #FFFFFF;
  --c-black: #000000;
  --c-heading: #333333;
  --c-light: #F6F6F6;
  --c-dark: #272727;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--c-dark);
  background-color: var(--c-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clash Display", sans-serif;
  color: var(--c-heading);
}

a,
button {
  cursor: pointer;
}
