@config "../../tailwind.config.js";
@import "tailwindcss";

:root {
  --c-brand: #ef554a;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-heading: #333333;
  --c-light: #f6f6f6;
  --c-dark: #272727;
  --c-black-80: rgba(0, 0, 0, 0.8);
  --c-black-10: rgba(0, 0, 0, 0.1);
  --c-white-70: rgba(255, 255, 255, 0.7);
  --c-white-85: rgba(255, 255, 255, 0.85);
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--c-dark);
  background-color: var(--c-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clash Display", sans-serif;
  color: var(--c-heading);
}

a,
button {
  cursor: pointer;
}

.footer-text-links a:hover {
  color: var(--c-brand);
  text-decoration: underline;
  text-underline-offset: 2px;
}
